<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Healthcare App Home</title>
</head>
<body>
<h1>Welcome to the Healthcare App</h1>
<ul>
    <li><a th:href="@{/patients}">View All Patients</a></li>
    <li><a th:href="@{/careproviders}">View All Care Providers</a></li>
    <li><a th:href="@{/healthissues}">View All Health Issues</a></li>
    <li><a th:href="@{/healthservices}">View All Health Services</a></li>
    <li><a th:href="@{/queries}">Run Queries</a></li>
</ul>
</body>
</html>
